CompileFlags:
    Remove: [-f*, -m*, -mthumb-interwork]
Documentation:
  CommentFormat: Doxygen
CompletionOptions:
  AllScopes: false
  IncludeIneligibleResults: false
Diagnostics:
  Suppress:
    - unused-includes
  UnusedIncludes: Disabled