menu "FuckerDetector config"

    choice APP_FIRMWARE_TYPE
        prompt "Firmware type"
        default APP_SERVER
            
        config APP_SERVER
            bool "Server"
                
        config APP_CLIENT
            bool "Client"
    
    endchoice

    menu "Misc"

        config APP_BLE_COMPANY_ID
            hex "Advertising company_id field value"
            range 0x0000 0xffff
            default 0xff64

        config APP_BLE_PROTOCOL_VER
            hex "Protocol version"
            range 0x0000 0xffff
            default 0xCC55
    
    endmenu

    menu "Client"

        config APP_CLIENT_I2C_SPEED
            int "I2C bus speed (KHz)"
            range 10 400
            default 100

        config APP_CLIENT_BLE_NAME
            string "Advertising name (length <= 16 char)"
            default "cliV2"

        config APP_CLIENT_RX_SERVERALARM
            bool "Enable receive server alarm"
            default y

        config APP_CLIENT_TX_CLIENTALARM
            bool "Enable transmit client alarm"
            default y
        
        config APP_CLIENT_RX_CLIENTALARM
            bool "Enable receive client alarm"
            default y 

        config APP_CLIENT_TX_CLIENTRESP
            bool "Enable transmit client response"
            default y
            depends on APP_CLIENT_RX_CLIENTALARM

        config APP_CLIENT_RX_CLIENTRESP
            bool "Enable receive client response"
            default y 
            depends on APP_CLIENT_TX_CLIENTALARM

        # ble advertising

        config APP_CLIENT_ADV_DURATION
            int "Advertising duration (ms)"
            range 500 60000
            default 3000
            depends on APP_CLIENT_TX_CLIENTALARM

        config APP_CLIENT_ADV_ITVL_MAX
            int "Max advertising interval (ms)"
            range 20 10240
            default 128
            depends on APP_CLIENT_TX_CLIENTALARM
        
        config APP_CLIENT_ADV_ITVL_MIN
            int "Min advertising interval (ms)"
            range 20 10240
            default 32
            depends on APP_CLIENT_TX_CLIENTALARM

        # ble scanning

        config APP_CLIENT_SCAN_ITVL
            int "Scan interval (ms)"
            range 20 10240
            default 96
            depends on APP_CLIENT_RX_SERVERALARM && APP_CLIENT_RX_CLIENTALARM

        config APP_CLIENT_SCAN_WINDOW
            int "Scan window (ms)"
            range 20 10240
            default 48
            depends on APP_CLIENT_RX_SERVERALARM && APP_CLIENT_RX_CLIENTALARM

        config APP_CLIENT_RESP_SCAN_DURATION
            int "Scan response duration (ms)"
            range 500 60000
            default 2000
            depends on APP_CLIENT_RX_CLIENTRESP

    endmenu

    menu "Server"

        config APP_SERVER_BLE_NAME
            string "Advertising name (length <= 16 char)"
            default "srvV2"

        choice APP_SERVER_RTC_TYPE
            prompt "RTC type"
            default APP_SERVER_RTC_DS3231

            config APP_SERVER_RTC_DISABLED
                bool "Disabled"

            config APP_SERVER_RTC_DS3231
                bool "DS3231"
        endchoice

        config APP_SERVER_ADV_DURATION
            int "Advertising duration (ms)"
            range 500 60000
            default 5000

        config APP_SERVER_ADV_ITVL_MAX
            int "Max advertising interval (ms)"
            range 20 10240
            default 128

        config APP_SERVER_ADV_ITVL_MIN
            int "Min advertising interval (ms)"
            range 20 10240
            default 32

        config APP_SERVER_SLPITVL_MAX_NUM
            int "Max sleep intervals number"
            range 2 255
            default 16

        choice APP_SERVER_RADER_TYPE
            prompt "Rader type"
            default APP_SERVER_RADER_HLKLD1040

            config APP_SERVER_RADER_UNKNOWN
                bool "Unknown"

            config APP_SERVER_RADER_HLKLD1040
                bool "HLK-LD1040 / HLK-LD1040C"

        endchoice

        choice APP_SERVER_RADER_TRIG_TYPE
            prompt "Rader trigger level"
            default APP_SERVER_RADER_TRIG_HIGH
            depends on APP_SERVER_RADER_UNKNOWN

            config APP_SERVER_RADER_TRIG_HIGH
                bool "High-level trigger"

            config APP_SERVER_RADER_TRIG_LOW
                bool "Low-level trigger"
        endchoice

        config APP_SERVER_RADER_PWRON_DURATION
            int "Rader power on wait duration (ms)"
            range 0 60000
            default 7000
            depends on APP_SERVER_RADER_UNKNOWN

        config APP_SERVER_AUTOPWOFF_ENABLED
            bool "Enable low battery voltaget poweroff"
            default y
        
        config APP_SERVER_AUTOPWOFF_LIMIT
            int "Poweroff voltage (mV)"
            range 2000 4000
            default 2700
            depends on APP_SERVER_AUTOPWOFF_ENABLED
    endmenu

endmenu