menu "FuckerDetector config"

    choice APP_FIRMWARE_TYPE
        prompt "Firmware type"
        default APP_SERVER
            
        config APP_SERVER
            bool "Server"
                
        config APP_CLIENT
            bool "Client"
    
    endchoice

    choice APP_VER_TYPE
        prompt "Version type"
        default APP_VER_TYPE_RELEASE

        config APP_VER_TYPE_DEV
            bool "Dev"

        config APP_VER_TYPE_SNAPSHOT
            bool "Snapshot"
        
        config APP_VER_TYPE_RELEASE
            bool "Release"
                
    endchoice

    menu "Misc"

        config APP_BLE_COMPANY_ID
            hex "Advertising company_id field value"
            range 0x0000 0xffff
            default 0xff64

        config APP_BLE_PROTOCOL_VER
            hex "Protocol version"
            range 0x0000 0xffff
            default 0xCC55

        config APP_CLI_MAX_HISTORY
            int "Max history line"
            range 0 255
            default 16
    
    endmenu

    menu "Client"

        config APP_CLIENT_I2C_SPEED
            int "I2C bus speed (KHz)"
            range 10 400
            default 100

        config APP_CLIENT_BLE_NAME
            string "Advertising name (length <= 16 char)"
            default "cliV2"

        config APP_CLIENT_RX_SERVERALARM
            bool "Enable receive server alarm"
            default y

        config APP_CLIENT_TX_CLIENTALARM
            bool "Enable transmit client alarm"
            default y
        
        config APP_CLIENT_RX_CLIENTALARM
            bool "Enable receive client alarm"
            default y 

        config APP_CLIENT_TX_CLIENTRESP
            bool "Enable transmit client response"
            default n
            depends on APP_CLIENT_RX_CLIENTALARM

        config APP_CLIENT_RESP_SCAN_DURATION
            int "Scan response duration (ms)"
            range 500 60000
            default 2000
            depends on APP_CLIENT_RX_CLIENTALARM

        # ble advertising

        config APP_CLIENT_ADV_DURATION
            int "Advertising duration (ms)"
            range 500 60000
            default 3000
            depends on APP_CLIENT_TX_CLIENTALARM

        config APP_CLIENT_ADV_ITVL_MAX
            int "Max advertising interval (ms)"
            range 20 10240
            default 128
            depends on APP_CLIENT_TX_CLIENTALARM
        
        config APP_CLIENT_ADV_ITVL_MIN
            int "Min advertising interval (ms)"
            range 20 10240
            default 32
            depends on APP_CLIENT_TX_CLIENTALARM

        # ble scanning

        config APP_CLIENT_SCAN_ITVL
            int "Scan interval (ms)"
            range 20 10240
            default 96
            depends on APP_CLIENT_RX_SERVERALARM && APP_CLIENT_RX_CLIENTALARM

        config APP_CLIENT_SCAN_WINDOW
            int "Scan window (ms)"
            range 20 10240
            default 48
            depends on APP_CLIENT_RX_SERVERALARM && APP_CLIENT_RX_CLIENTALARM

    endmenu

    menu "Server"

        config APP_SERVER_I2C_SPEED
            int "I2C bus speed (KHz)"
            range 10 400
            default 100

        config APP_SERVER_BLE_NAME
            string "Advertising name (length <= 16 char)"
            default "srvV2"

        choice APP_SERVER_RTC_TYPE
            prompt "RTC type"
            default APP_SERVER_RTC_DS3231

            config APP_SERVER_RTC_DISABLED
                bool "Disabled"

            config APP_SERVER_RTC_DS3231
                bool "DS3231"
        endchoice

        config APP_SERVER_ADV_DURATION
            int "Advertising duration (ms)"
            range 500 60000
            default 5000

        config APP_SERVER_ADV_ITVL_MAX
            int "Max advertising interval (ms)"
            range 20 10240
            default 128

        config APP_SERVER_ADV_ITVL_MIN
            int "Min advertising interval (ms)"
            range 20 10240
            default 32

        config APP_SERVER_SLPITVL_MAX_NUM
            int "Max sleep interval"
            range 2 255
            default 16

    endmenu

endmenu